@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px

}
article {
    width: 66.6%;
    float: right;
}
body {
    background-color: #57A8A8;
    color: #38ff3e;
    font-family:"Comic Sans", serif;
    font-size: .9em;

    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("images/windowsBackground.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: 100%;
}
h1, h2 {
    color: white;
    font-size: 3em;
    font-family: 'Comic Sans', serif;
}


div {
    width: 30%;
    float: left;
    padding: 2px;
}

footer {
    clear:both;
    position: absolute;
    right: auto;
    bottom:40px;
    height:30px;
    padding: 80px 60px 10px 100px;
    text-decoration: none;
    text-align: center;
}

section {
    float:left;
    width: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
input {
  margin-top: 10px;
}
#response {
  
}
#response


#userName {
    background-color: white;
    font-family: "Times New Roman";
    font-weight: bold;
    color: red;
    font-size: 1.3em;
}

#userMsg {
    margin: auto;
    background-color: white;
    font-family: "Times New Roman";
    color: black;
    font-size: 1.3em;
}
#bot {
  background-color: cyan;
  font-family: "Times New Roman";
  font-weight: bold;
  color: blue;
  font-size: 1.3em;
}
#smartMsg {
    margin: auto;
    background-color: cyan;
    font-family: "Courier New";
    color: black;
    font-size: 1em;
}
